<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} %-5level [%t] %c{1} - %msg%n"/>
        </Console>

        <RollingFile name="FileLog"
                     fileName="${sys:user.dir}/build/logs/MPP_BD.log"
                     filePattern="${sys:user.dir}/build/logs/MPP_BD-%d{yyyy-MM-dd}.log"
                     createOnDemand="true">
            <PatternLayout pattern="%d{DATE} %-5level %class{36} %L %M - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>

    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLog"/>
        </Root>
    </Loggers>
</Configuration>